<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Messages</ion-title>
    <button ion-button class="search" (click)="toggleSearch()">
      <ion-icon name="search"> </ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="searchStuff" *ngIf="showSearch">

    <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl"></ion-searchbar>

    <div *ngIf="searching" class="spinner-container">
      <ion-spinner></ion-spinner>
    </div>

    <ion-list>
      <ion-item *ngFor="let user of users">
        {{user.name}} <{{user.emailAddress}}>   <button (click)="addFriend(user)">Add Friend</button>

      </ion-item>
    </ion-list>
    <div class="restofscreen" (click)="toggleSearch()">

    </div>

  </div>

  <ion-card>
    <ion-card-content>
      <img id="user-img" src="https://imgix.ttcdn.co/i/product/original/0/457939-0c324c98c4bd4463b0e8e828cfac91ac.png?quality=50&width=2000&bg-color=fff&auto=webp&fit=bounds&fm=jpeg">
      <div class="message">
        <h2 id="message-title">Doge</h2>
        <p id="message-preview">U wanna git a byte to eat?</p>
        <button (click)="createNewMessage('test')">CLICKMEDAMIT</button>
      </div>
    </ion-card-content>
  </ion-card>
  <button ion-button class="newMessage" (click)="prompt.present()">
    <ion-icon name="add-circle"></ion-icon>
  </button>
</ion-content>
