page-home {
    ion-content {
        .spinner-container {
            width: 100%;
            text-align: center;
            padding: 10px;
        }
        ion-card {
            ion-card-content {
                display: flex;
                #user-img {
                    width: 4em;
                    height: 4em;
                    border-radius: 100%;
                    border: 0.1em solid black;
                }
                .message {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-left: 1em;
                    #message-title #message-preview {
                        margin: 0;
                        padding: 0;
                    }
                    #message-preview {
                        color: lightgray;
                    }
                }
            }
        }
        ion-list {
            ion-item {
                .label {
                    display:flex;
                    align-items: center;
                    justify-content: space-between;
                    
                    .profilePic {
                        width: 3em;
                        height: 3em;
                        border-radius: 100%;
                    }
                    .userInfo {
                        display:flex;
                        flex-direction: column;
                        justify-content: center;
                        align-self: flex-start
                    }
                }
            }
        }
    }
}
//page-home {
//
//  .spinner-container {
//    width: 100%;
//    text-align: center;
//    padding: 10px;
//  }
//
//}
